@charset "utf-8";

/* 共通項 */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.title-font {
  font-size: 24px;
  font-family: 'Raleway';
}

/* header部分 */

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.header-inner {
  padding: 15px 0;
  
}

.bolt {
  color: #4e4e4e;
  font-weight: 900;
  font-size: 30px;
}

.bar {
  color: #ddd;
  padding: 10px;
  border: 1px solid #ddd;
  float: right;
  border-radius: 4px;
}

.bar:hover {
  cursor: pointer;
}


.header-right {
  text-align: center;
  background-color: #74cfae;
  color: #fff;
  float: right;
  padding: 14px 12px;
  font-size: 12px;
  text-decoration: none;
  transition: all  0.3s ease;
}

.header-right:hover {
  color: #333;
}



/* titleのコンテント */

.title {
  background-color: #f2f2f2;
  text-align: center
}

.big-title {
  font-size: 90px;
  color: #74cfae;
  font-weight: 700;
}

.small-title {
  color: #c0c0c0;
  margin-top: 20px;
  font-size: 30px;
}

/* phone-imgがあるコンテント */

.phone {
  background-color: #74cfae;
}

.phone-inner {
  padding-top: 50px;
  text-align: center;
  
}

.phone-img {
  display: inline-block;
}

.phone-text {
  color: #fff;
  margin-top: 20px;
}

.sentence {
  line-height: 1.5;
  font-size: 20px;
}

/* work-listのコンテント */

.work {
  background-color: #f2f2f2;
  box-sizing: border-box;
  text-align: center;
}

.work-inner {
  padding: 60px 0 70px;
}

.work-img {
  margin-top: 40px;
}

.img-link {
  opacity: 0.7;
  transition: all  0.3s ease;
  display: inline-block;
}

.img-link:hover {
  opacity: 1;
}

.work-list {
  display: inline-block;
  vertical-align: bottom;
}

.text-box {
  text-align: center;
}

.work-text {
  font-size: 20px;
  line-height: 1.5;
}

.email-button {
  background-color: #74cfae;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 14px 20px;
  transition: all  0.3s ease;
  display: inline-block;
}

.email-button:hover {
  color: #333;
}


/* circle-imgがあるコンテント */

.circle {
  background-color: #4e4e4e;
  color: #FFFFFF;
  text-align: center;
}

.circle-inner {
  padding: 70px 0 100px;
}

.circle-title {
  margin-bottom: 70px;
}

.circle-img {
  margin-bottom: 15px;
}

.inner-title {
  font-size: 16px;
}

/* snsのコンテント */

.sns {
  background-color: #f2f2f2;
  text-align: center;
  overflow: hidden;
}

.sns-inner {
  padding: 200px 0;
}

.sns-link {
  padding: 30px 0;
  transition: all  0.3s ease;
}

.sns-link:hover {
  background-color: #fff;
}

.nav-sns {
  color: #74cfae;
  font-size: 30px;
}



/* フッター */

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
  text-align: right;
}

.footer-logo {
  color: #fff;
}


@media screen and (min-width: 1200px) {

  .inner {
    width: 1100px;
    margin: 0 auto;
  }

  .fas.fa-bars.bar {
    display: none;
  }

  .title-inner {
    padding: 250px 0;
  }

  .phone-inner {
    display: flex;
    justify-content: space-around;
  }

  .sentence {
    width: 600px;
    margin-top: 35px;
  }

  .work-img {
    display: flex;
    flex-wrap: wrap;
  }

  .img-link {
    margin: 80px 0  0 100px;
  }

  .img-link:nth-child(-n+3) {
    margin-top: 0;
  }
  
  .img-link:first-child,.img-link:nth-child(3n+1) {
    margin-left: 0;
  }
  
  .text-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
  }
  
  .work-text {
    font-size: 20px;
    line-height: 1.5;
    margin-right: 90px;
  }

  .img-set {
    margin-right: 180px;
  }

  .img-set:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  .circle-box {
    display: flex;
    justify-content: center;
  }

  .sns-inner {
    display: flex;
    justify-content: center;
  }

  .sns-link {
    width: 185px;
  }
}

@media screen and (max-width:1199px) {
  
  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .fas.fa-bars.bar {
    display: none;
  }

  .title-inner {
    padding: 250px 0;
  }


  .phone-inner {
    padding-bottom: 25px;
  }

  .sentence {
    margin: 35px auto 0;
  }

  .img-link {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .img-link:nth-child(3n) {
    margin-bottom: 80px;
  }

  .img-link:last-child {
    margin-bottom: 0;
  }

  .text-box {
    margin-top: 80px;
  }

  .email-button {
    margin-top : 40px;
  }

  .img-set {
    margin: 0 auto 88px;
  }

  .img-set:last-child {
    margin-bottom: 0;
  }

  .circle-box {
    display: flex;
    flex-direction: column;
  }

  .sns-inner {
    display: flex;
    justify-content: center;
  }

  .sns-link {
    width: 25%;
  }
}


@media screen and (max-width: 767px) {

  .header-right {
    display: none;
  }

  .fa-bars.fas.bar {
    display: inline-block;
  }

  .title-inner {
    padding: 160px 0 130px;
  }

  .sns-inner {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
  }
  
  .sns-link {
    width: 100%;
  }
}